.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  border-bottom: 1px solid #EAEAEA; }

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  margin: 0 16px 0 0; }

.header__title h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase; }
.header__title p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D; }

.header__right ul {
  display: flex; }
  .header__right ul li {
    display: flex;
    align-items: center; }
    .header__right ul li:first-child a {
      margin: 0 10px 0 0; }
    .header__right ul li:not(:first-child) {
      margin: 0 0 0 30px; }
